.mainDiv {
  background-color: rgb(95, 4, 50);
  display: flex;
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg");
  background-repeat: no-repeat;
  width: 100%;
}
